<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path=""
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Profile | Verificate</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="vendor/fonts/boxicons.css" />

    <link rel="stylesheet" href="vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" />

    <style>
      .drop-zone {
          max-width: 100%;
          height: 100%;
          padding: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-family: "Quicksand", sans-serif;
          font-weight: 500;
          font-size: 20px;
          cursor: pointer;
          color: #cccccc;
          border: 4px dashed #009578;
          border-radius: 10px;
      }

      .drop-zone--over {
          border-style: solid;
      }

      .drop-zone__input {
          display: none;
      }

      .drop-zone__thumb {
          width: 100%;
          height: 150px;
          border-radius: 10px;
          overflow: hidden;
          background-color: #cccccc;
          background-size: cover;
          position: relative;
      }

      .drop-zone__thumb::after {
          content: attr(data-label);
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 5px 0;
          color: #ffffff;
          background: rgba(0, 0, 0, 0.75);
          font-size: 14px;
          text-align: center;
      }
  </style>

    <!-- Helpers -->
    <script src="vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="js/config.js"></script>

  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <%- include('new-ui-sidebar'); %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          <%- include('new-ui-navbar'); %>
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4">
                <!-- <span class="text-muted fw-light">UI elements /</span> -->
                View Certificates
              </h4>

              <!-- Collapse -->
              <!-- <h5>Collapse</h5> -->
              <div class="row">
                <div class="col-12">
                  <% if (errorMessage.length > 0) { %>
                    <div class="alert alert-danger alert-dismissible" role="alert">
                      <%=errorMessage%>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      </button>
                    </div>
                  <% } if (successMessage.length > 0) { %>
                    <div class="alert alert-success alert-dismissible" role="alert">
                      <%=successMessage%>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      </button>
                    </div>
                  <% } %>
                  <div class="card mb-4">
                    <!-- <h5 class="card-header">Basic</h5> -->
                    <div class="card-body">
                        <form action="/update-profile" method="POST" class="needs-validation" id="form1" novalidate>
                          <div class="row">
                              <div class="col-md-4 col-12 mb-4">
                                  <div class="form-group">
                                    <label>Name <span style="color: red;"> *</span></label>
                                    <input type="text" class="form-control p_input" id="username" name="Username" pattern="[a-zA-Z0-9]{3,}" required placeholder="Enter Name" value="<%=data.name%>">
                                    <div class="invalid-feedback">
                                      Please enter valid Name 
                                    </div>
                                    <div class="valid-feedback">
                                      Looks good!
                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-4 col-12 mb-4">
                                  <div class="form-group">
                                    <label>Email <span style="color: red;"> *</span></label>
                                    <input type="email" class="form-control p_input" id="email" name="Email" pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,})+" required placeholder="Enter Email" value="<%=data.email%>">
                                    <div class="invalid-feedback">
                                      Please enter valid email
                                    </div>
                                    <div class="valid-feedback">
                                      Looks good!
                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-4 col-12 mb-4">
                                  <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control p_input" id="phoneNo" name="PhoneNo" pattern="[0-9]{10}" placeholder="Enter Phone Number" value="<%=data.phoneNo%>">
                                    <div class="invalid-feedback">
                                      Please enter valid phone number
                                    </div>
                                    <div class="valid-feedback">
                                      Looks good!
                                    </div>
                                  </div>
                              </div>
                              <!-- <div class="col-md-4 col-12 mb-4">
                                  <div class="form-group">
                                    <label>Colleges & Universities Previously Attended <span style="color: red;"> *</span></label>
                                    <select class="js-example-basic-multiple" id="universities" name="Universities" multiple="multiple" required style="width:100%">
                                    </select>
                                    <div class="invalid-feedback">
                                      Please select colleges & universities
                                    </div>
                                    <div class="valid-feedback">
                                      Looks good!
                                    </div>
                                  </div>
                              </div> -->
                              <div class="col-12 mb-4">
                                  <div class="form-group">
                                    <label>Profile Photo 
                                      <!-- <span style="color: red;"> *</span> -->
                                  </label>
                                      <div class="drop-zone" id="drop-zone">
                                          <span class="drop-zone__prompt">
                                              <i class="bx bxs-file-pdf mb-2" style="font-size: 3rem;"></i>
                                              <br>
                                              Drop profile photo here
                                          </span>
                                          <input type="file" name="File1" id="file1" class="drop-zone__input"
                                              required>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-12">
                              <button class="btn btn-primary" style="float: right;">Update</button>
                              </div>
                          </div>
                        </form>

                      </div>
                    </div>
                  
                  <div class="card mb-4">
                      <div class="card-header">
                          <h4>My Documents</h4>
                      </div>
                      <div class="card-body">
                          <table class="table table-bordered" id="example">
                              <thead>
                                  <tr>
                                      <th>Sr. No.</th>
                                      <th>Document Hash</th>
                                      <th>Document Name</th>
                                      <th>Document Description</th>
                                      <th>Verifying Body</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <% data.documents.forEach((item)=>{%>
                                <tr>
                                  <td><%=item.no%></td>
                                  <td><%=item.hash%></td>
                                  <td><a href="/pdf/<%=data.name%>/<%=item.name%>" target="_blank"><%=item.name%></a></td>
                                  <td><%=item.description%></td>
                                  <td><%=item.verifier%></td>
                                </tr>
                                <%});%>
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <%- include('new-ui-footer'); %>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- <div class="buy-now">
      <a
        href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/"
        target="_blank"
        class="btn btn-danger btn-buy-now"
        >Upgrade to Pro</a
      >
    </div> -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="vendor/libs/jquery/jquery.js"></script>
    <script src="vendor/libs/popper/popper.js"></script>
    <script src="vendor/js/bootstrap.js"></script>
    <script src="vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="js/main.js"></script>

    <!-- Page JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.colVis.min.js"></script>

    <style>
        .dataTables_filter {
            margin-bottom: 1.5rem;
        }
    </style>

    <script>
        $(document).ready(function () {
    var table = $('#example').DataTable({
        dom: 'Bfrtip',
        // lengthChange: false,
        buttons: [ 'copy', 'excel', 'pdf' ]
    });
    table.buttons().container().appendTo( '#example_wrapper .col-md-6:eq(0)' );
});
    </script>

    <script>
      (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }

              form.classList.add('was-validated')
            }, false)
          })
      })()
    </script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    
  </body>
</html>